name: Run CI

on: [push, pull_request]

jobs:
  tox:
    name: Run Tox
    steps:
    - uses: actions/checkout@v2
    - name: Run all envs
      uses: fedora-python/tox-github-action@main
      with:
        tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        tox_env: [py37, py38, py39, py310, py311, black, isort, flake8, mypy]
    runs-on: ubuntu-latest
